.title {
    font-size: 50px;
    color: darkblue;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.description {
    border: 1px solid #ccc;
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 30px;
    padding: 20px;
}

.main {
    background: #eee;
    padding: 20px;
}

.footer{
    display:flex;
    background-color: rgb(199, 194, 194);
    padding:20px 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.footerImage{
    width:60px;
    height: 60px;
}
#list{
    background-color: rgb(247, 245, 242);
    display:flex;
    flex-direction: column;
    margin: 10px 70px 70px 70px;
}
.listElements{
padding: 20px 20px;
}
#linkText{
    font-size: 20px;
    display:flex;
    justify-content: center;
}

.treeIcon{
padding:10px 10px;
}
#navbarSupportedContent{
    display:flex;
    justify-content: space-around;
}
.navbar-brand{
    padding: 0px 100px;
}